################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.user
*.suo

# Design-time build cache
.dtbcache.v2
DesignTimeBuild/

# Visual Studio layout / backup files
DocumentLayout.backup.json


# Build caches
*.AssemblyInfoInputs.cache


# Builds outputs
bin/
obj/

# Logs
*.log

/Chapter02/.vs/Chapter02/v17/.suo
/Chapter02/.vs/Chapter02/DesignTimeBuild/.dtbcache.v2
/Chapter02/.vs/Chapter02/v17/.futdcache.v2
/Chapter02/.vs/Chapter02/v17/DocumentLayout.backup.json
/Chapter02/.vs/Chapter02/v17/DocumentLayout.json
